<main role="main">
  <div class="container">
    <div class="row">
      <% @recipes.each do |recipe| %>
        <div class="col-md-4">
          <div class="card md-4">
            <img class="card-image" src="<%= recipe.fields[:photo].url %>">
            <div class="card-body">
              <a href="/<%= recipe.id %>" class="stretched-link"></a>
              <h4 class="card-title"><%= recipe.fields[:title] %></h4>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</main>
