<div class="container">
  <img src="<%= @image %>">
  <h1 class="title"><%= @recipe[:title] %></h1>
  <div class="row tags">
    <% @recipe[:tags]&.each do |tag| %>
      <span class="tag"><%= tag.name %></span>
    <% end %>
  </div>
  <div class="calories"><i><%= @recipe[:calories] %> Calories</i></div>
  <p class="description"><%= sanitize @description %></p>
</div>
