.title {
  margin-top: 20px;
}
.tags {
  margin-left: 5px;
}
.tag {
  background-color: #363F54;
  color: white;
  border-radius: 2px;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 10px;
}
.calories {
  margin-top: 10px;
}
.description {
  margin-top: 40px;
  margin-bottom: 40px;
}
