$header-black: #343a40;

header {
    margin-bottom: 20px;

    .bg-dark{
        background-color: $header-black !important;
    }
    .container {
        flex-wrap: wrap;
        align-items: center;
    }

}
